section#contact {
    display: flex;
    flex-direction: row;
    padding: 0 2.5em;
}

div#findMe, div#sayHello {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

div#findMe .findMeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: 100%;
    margin: 5em 0;
}

div#findMe .findMeContainer .profile {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

div#findMe .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

div#findMe .socialIcons div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

div#findMe .socialIcons div svg {
    width: 2.5em;
    fill: var(--primaryDefault);
    font-size: 2em;
}

div#findMe .socialIcons div a:hover svg {
    fill: var(--primaryHover);
}

div#sayHello  #contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm .flName {
    display: flex;
    flex-direction: row;
    gap: 1;
}

#contactForm .formControl {
    width: 100%;
}

#contactForm input[type="submit"] {
    margin-top: 1em;
    align-self: flex-start;
}

#contactForm .formControl input:not([type="submit"]), #contactForm .formControl textarea {
    width: 100%;
    border: 4px solid var(--primaryDefault);
    background: none;
    outline: none;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 0.5em;
    padding: 0 0.5em;
}

#contactForm .formControl textarea {
    padding: 0.5em;
}


#contactForm .formControl input:not([type="submit"]).invalid:invalid, #contactForm .formControl textarea.invalid:invalid {
    border: 4px solid var(--errorDefault);
}

#contactForm .formControl input:not([type="submit"]).invalid:invalid:focus, #contactForm .formControl textarea.invalid:invalid:focus {
    border: 4px solid var(--errorHover);
    box-shadow: 0 4px 2px 0 var(--mutedBlack);
}

#contactForm .formControl input:not([type="submit"]):focus, #contactForm .formControl textarea:focus {
    border: 4px solid var(--primaryHover);
}

#contactForm .formControl input:not([type="submit"]) {
    height: 3em;
}
