section#contact {
    display: flex;
    flex-direction: row;
    padding: 0 2.5em;
}

div#findMe, div#sayHello {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

div#findMe .findMeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: 100%;
    margin: 5em 0;
}

div#findMe .findMeContainer .profile {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

div#findMe .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

div#findMe .socialIcons div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

div#findMe .socialIcons div svg {
    width: 2.5em;
    fill: var(--primaryDefault);
    font-size: 2em;
}

div#findMe .socialIcons div a:hover svg {
    fill: var(--primaryHover);
}

div#sayHello  #contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm .flName {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#contactForm .formControl {
    width: 100%;
}

#contactForm input[type="submit"] {
    margin-top: 1em;
    align-self: flex-start;
}

#contactForm .formControl input:not([type="submit"]), #contactForm .formControl textarea {
    width: 100%;
    border: 4px solid var(--primaryDefault);
    background: none;
    outline: none;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 0.5em;
    padding: 0 0.5em;
}

#contactForm .formControl textarea {
    padding: 0.5em;
}


#contactForm .formControl input:not([type="submit"]).invalid:invalid, #contactForm .formControl textarea.invalid:invalid {
    border: 4px solid var(--errorDefault);
}

#contactForm .formControl input:not([type="submit"]).invalid:invalid:focus, #contactForm .formControl textarea.invalid:invalid:focus {
    border: 4px solid var(--errorHover);
    box-shadow: 0 4px 2px 0 var(--mutedBlack);
}

#contactForm .formControl input:not([type="submit"]):focus, #contactForm .formControl textarea:focus {
    border: 4px solid var(--primaryHover);
}

#contactForm .formControl input:not([type="submit"]) {
    height: 3em;
}

#contactForm .flName {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#contactForm .formControl {
    width: 100%;
}

#contactForm input[type="submit"] {
    margin-top: 1em;
    align-self: flex-start;
}

#contactForm .formControl input:not([type="submit"]), #contactForm .formControl textarea {
    width: 100%;
    border: 4px solid var(--primaryDefault);
    background: none;
    outline: none;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 0.5em;
    padding: 0 0.5em;
}

#contactForm .formControl textarea {
    padding: 0.5em;
}


#contactForm .formControl input:not([type="submit"]).invalid:invalid, #contactForm .formControl textarea.invalid:invalid {
    border: 4px solid var(--errorDefault);
}

#contactForm .formControl input:not([type="submit"]).invalid:invalid:focus, #contactForm .formControl textarea.invalid:invalid:focus {
    border: 4px solid var(--errorHover);
    box-shadow: 0 4px 2px 0 var(--mutedBlack);
}

#contactForm .formControl input:not([type="submit"]):focus, #contactForm .formControl textarea:focus {
    border: 4px solid var(--primaryHover);
}

#contactForm .formControl input:not([type="submit"]) {
    height: 3em;
}

div.message {
    background: var(--primaryDefault);
    color: #FFFFFF;
    padding: 0.5em 0.8em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-direction: row-reverse;
    position: relative;
    height: 75px;
    visibility: visible;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    margin-top: 1em;
}

div.message.error {
    background: var(--errorDefault);
}

div.message button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin-top: -5px;
    position: absolute;
    transform: translate(0, 0);
    transform-origin: 0 0;
    right: 10px;
    top: 10px;
}

div.message.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

div.message button:hover {
    text-shadow: -1px 2px var(--mutedBlack);
}