/******** Imports *******/
@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/*local imports*/
@import "nav.css";
@import "about.css";
@import "cv.css";
@import "mediaQueries.css";

/****** Root Style ******/
:root {
    /* Colours */
    --mainHue: 79;
    --mainSat: 62%;
    --mainLight: 51%;
    --primaryDefault: hsla(var(--mainHue), var(--mainSat), var(--mainLight), 1);
    --primaryHover: hsla(var(--mainHue), var(--mainSat), calc(var(--mainLight) - 10%), 1);
    --timelineItemBrdr: hsla(var(--mainHue), var(--mainSat), calc(var(--mainLight) - 20%), 1);
    --errorDefault: hsla(0, var(--mainSat), var(--mainLight), 1);
    --grey: hsla(0, 0%, 39%, 1);
    --mutedGrey: hsla(0, 0%, 67%, 0.58);
    --mutedBlack: hsla(0, 0%, 0%, 0.25);
    --navBack: hsla(0, 0%, 30%, 1);

    /* Font Sizes */
    --titleFS: 2.25rem;
    --generalFS: 1.125rem;
    --headingFS: 1.5rem;
}

/*** Template Styles ****/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--generalFS);
    line-height: 1.625rem;
}

a:visited {
    color: inherit;
}

h1, nav {
    font-family: Share Tech Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: var(--titleFS);
    line-height: 2.5625rem;
    text-transform: lowercase;
}

h2 {
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--headingFS);
    line-height: 2.1875rem;
}

a.btn, form input[type="submit"] {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.625em;
    border: 0.3215em solid var(--primaryDefault);
    color: #FFFFFF;
}

a.btn:hover {
    border: 0.3215em solid var(--primaryHover);
}

a.btnPrimary, form input[type="submit"] {
    background: var(--primaryDefault);
    cursor: pointer;
}

a.btnOutline {
    background: #FFFFFF;
    color: var(--primaryDefault);
}

a.btnPrimary:hover, form input[type="submit"]:hover {
    background: var(--primaryHover);
}

a.btn:active, form input[type="submit"]:active {
    padding: 0.8rem 1.8rem;
}

.boxShadowOut:hover {
    box-shadow: 0 6px 4px 0 var(--mutedBlack);
}

.boxShadowIn:active {
    box-shadow: inset 0 6px 4px 0 var(--mutedBlack);
}

.textShadow:hover {
    text-shadow: 0 6px 4px var(--mutedBlack);
}

section#about, section#curriculumvitae h1 {
    padding: 0 5rem;
}
