/******** Imports *******/
@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/*local imports*/
@import "templateStyles.css";
@import "nav.css";
@import "about.css";
@import "cv.css";
@import "projects.css";
@import "contact.css";

/****** Root Style ******/
:root {
    /* Colours */
    --mainHue: 79;
    --mainSat: 62%;
    --mainLight: 51%;
    --primaryDefault: hsla(var(--mainHue), var(--mainSat), var(--mainLight), 1);
    --primaryHover: hsla(var(--mainHue), var(--mainSat), calc(var(--mainLight) - 10%), 1);
    --timelineItemBrdr: hsla(var(--mainHue), var(--mainSat), calc(var(--mainLight) - 20%), 1);
    --errorDefault: hsla(0, var(--mainSat), var(--mainLight), 1);
    --grey: hsla(0, 0%, 39%, 1);
    --notAvailableDefault: hsla(0, 0%, 39%, 1);
    --notAvailableHover: hsla(0, 0%,32%, 1);
    --mutedGrey: hsla(0, 0%, 78%, 1);
    --mutedBlack: hsla(0, 0%, 0%, 0.25);
    --navBack: hsla(0, 0%, 30%, 1);

    /* Font Sizes */
    --titleFS: 2.25rem;
    --generalFS: 1.125rem;
    --headingFS: 1.5rem;
}

*{
    box-sizing: border-box;
}

/**** Media Queries *****/

@media screen and (max-width: 90em) {

    /****** CV Styles *******/

    section#curriculumvitae .cvGrid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#curriculumvitae .cvGrid > div {
        width: 100%;
    }

    section#curriculumvitae .cvGrid > div:first-child {
        padding-bottom: 2.5em;
        margin-bottom: 2.5em;
        border-bottom: 5px #FFFFFF solid;
    }

    section#curriculumvitae .cvGrid h2 {
        margin-left: 5em;
    }

    section#curriculumvitae .cvGrid .timeline {
        margin: 0 auto;
    }

}

@media screen and (max-width: 75em) {

    /*** Template Styles ****/

    section#about, section#curriculumvitae h1  {
        padding: 0 1em;
    }

    /*** Navigation Styles **/

    /** Default Nav Styles **/

    nav {
        display: block;
        height: 50px;
        width: 100%;
        background-color: var(--navBack);
        position: fixed;
        top: 0;
        padding: 0;
    }

    nav a h1{
        margin-left: 1ch;
    }

    nav  .nav-btn {
        display: inline-block;
        position: absolute;
        right: 75px;
        top: -360px;
    }

    nav ul {
        position: fixed;
        display: block;
        width: 100%;
        background-color: #333;
        transition: all 0.4s ease-in;
        overflow-y: hidden;
        padding-left: 0;
        margin-top: 7px;
    }

    nav ul li a {
        display: block;
        width: 100%;
        transform: translateX(-30px);
        transition: all 0.4s ease-in;
        opacity: 0;
    }

    .nav-btn label {
        display: inline-block;
        cursor: pointer;
        width: 60px;
        height: 50px;
        position: fixed;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in;
        -moz-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
    }

    .nav-btn label span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: #FFFFFF;
        opacity: 1;
        right: 0;
        top: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in;
        -moz-transition: .25s ease-in;
        -o-transition: .25s ease-in;
        transition: .25s ease-in;
    }

    /** Burger Not Clicked **/

    nav  #nav-check:not(:checked) ~ ul{
        height: auto;
        max-height: 0;
    }

    nav #nav-check:not(:checked) ~ .nav-btn label span:nth-child(1) {
        top: 8px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    nav #nav-check:not(:checked) ~ .nav-btn label span:nth-child(2) {
        top: 23px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    nav #nav-check:not(:checked) ~ .nav-btn label span:nth-child(3) {
        top: 38px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    nav .nav-btn label:hover, nav  #nav-check:checked ~ .nav-btn  label {
        background-color: rgba(-1, 0, 0, 0.3);
    }

    /**** Burger Clicked ****/

    nav #nav-check:checked ~ ul{
        max-height: 50vh;
        overflow-y: hidden;
    }

    nav #nav-check:checked ~ ul li a {
        opacity: 1;
        transform: translateX(0px);
    }

    nav #nav-check:checked ~ ul li:nth-child(1) a {
        transition-delay: 0.15s;
    }

    nav #nav-check:checked ~ ul li:nth-child(2) a {
        transition-delay: 0.25s;
    }

    nav #nav-check:checked ~ ul li:nth-child(3) a {
        transition-delay: 0.35s;
    }

    nav #nav-check:checked ~ ul li:nth-child(4) a {
        transition-delay: 0.45s;
    }

    nav #nav-check:checked ~ ul li:nth-child(5) a {
        transition-delay: 0.55s;
    }

    nav #nav-check:checked ~ .nav-btn label span:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    nav #nav-check:checked ~ .nav-btn label span:nth-child(2){
        width: 0;
        opacity: 0;
    }

    nav #nav-check:checked ~ .nav-btn label span:last-child {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /***** About Styles *****/

    section#about div {
        padding: 0.1em 2.5em;
    }

    /****** CV Styles *******/

    section#curriculumvitae .cvGrid {
        padding: 0;
    }

    /**** Projects Styles ***/

    section#projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#projects .mainProj {
        border-right: 0;
        padding: 0;
        width: 100%;
        margin: 0 5em;
    }

    section#projects .mainProj img {
        padding: 0 1em;
    }

    section#projects .mainProj .flexRow {
        flex-direction: column;
        margin: 0 2.5em;
    }

    section#projects .mainProj .flexCol {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section#projects .otherProj {
        width: 100%;
    }

    section#projects .otherProj .btn{
        width: 10em;
        text-align: center;
    }

    section#projects .otherProj > div .oProjItem, section#projects .otherProj > div .oProjItem:nth-child(2) {
        flex-direction: column;
    }

    section#projects .oProjItem .flexCol div:nth-child(2) {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 1em;
    }

    section#projects .otherProj > a {
        margin-left: 3em;
        margin-right: 3em;
        text-align: center;

    }
    
    section#contact {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    div#findMe, div#sayHello {
      width: 100%;
      
    }
    
    
    div#findMe .findMeContainer {
      flex-direction: column;
      justify-content: center;
    }
    
    div#findMe .socialIcons {
      flex-direction: row;
    }
    
    div#findMe .socialIcons div {
      flex-direction: row;
    }
}

@media screen and (max-width: 55em) {

    /****** CV Styles *******/

    section#curriculumvitae .cvGrid .timeline, section#curriculumvitae .cvGrid .timeline#work {
        margin: 0 auto;
        width: 100%;
    }

    section#curriculumvitae .timeline:before {
        border: none;
    }

    section#curriculumvitae .timelineItem, section#curriculumvitae .timelineItem:nth-child(2n) {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    section#curriculumvitae .timelineItem:before {
        right: unset;
        left: unset;
        border:none
    }

    div#findMe .socialIcons {
      flex-direction: column;
    }
    
    #contactForm .flName {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
}

@media screen and (max-width: 31em) {

    /*** Template Styles ****/

    section#about, section#curriculumvitae h1 {
        padding: 0 1em;
    }

    /*** Navigation Styles **/

    header div h1 {
        text-align: center;
        height: 5.125rem;
    }

    /***** About Styles *****/

    section#about div {
        padding: 0.1em 1em;
    }

    /**** Projects Styles ***/

    section#projects .mainProj .flexCol {
        flex-direction: column;
    }

    section#projects .oProjItem .flexCol div:nth-child(2) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
